.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.item input[type="submit"] {
    background-color: #D2D2D2;
    border: 5px solid #D2D2D2;
    border-radius: 5px;
    padding: 0 30px;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
    color: #3B3B3B;
    font-weight: 200;
    cursor: pointer;
    max-width: 200px;
    width: 100%;
}

.selected input[type="submit"] {
    background-color: #8B8B8B;
    border: 5px solid #8B8B8B;
}

body .main-container {
    justify-content: left;
    margin: 50px 50px;
}

body .main-container .left-menu {
    margin-right: 150px;
}

body .main-container .main-menu .main-table .create-form .input-container {
    display: block;
    margin-bottom: 10px;
}

.text-content input[type="text"], textarea {
    display: block;
    background-color: #E5E5E5;
    color: black;
    border: 5px solid #E5E5E5;
    border-radius: 3px;
    margin-bottom: 5px;
    width: 100%;
}

.text-content textarea {
    height: 100px;
    resize: none;
}

body .main-container .main-menu .main-table .create-form .input-container input[type="submit"] {
    background-color: #3DC4B6;
    border: 5px solid #3DC4B6;
    border-radius: 3px;
    color: white;
}

body .main-container .main-menu .main-table .create-form .input-container input[type="submit"]:hover {
    background-color: #38B1A5;
    border: 5px solid #38B1A5;
    cursor: pointer;
}